* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(167, 106, 14) 0%,
    rgb(206, 160, 76) 30%,
    rgb(231, 204, 145) 100%
  );
}
section {
  min-width: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(167, 106, 14) 0%,
    rgb(206, 160, 76) 30%,
    rgb(231, 204, 145) 100%
  );
}
.container {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  float: right;
}
/* a.view-btn {
  float: right;
  margin-top: -30px;
} */
.brand {
  text-align: center;
  font-size: 4rem;
  /* color: #000; */
  color: #9e201c;
  text-shadow: 1px 1px 2px #2a9d8f;
  transition: text-shadow 300ms ease-out;
  margin-bottom: 30px;
}
.brand:hover {
  color: #000;
  text-shadow: 0 0 1px rgb(192, 112, 112), 0 0 2px rgb(192, 101, 101),
    0 0 5px rgb(240, 141, 141), 0 0 8px #db7770, 0 0 10px #e29191,
    0 0 14px #ec9797, 0 0 20px #e26c6c, 0 0 30px #df5959, 0 0 40px #da6767,
    0 0 60px #e04b4b;
}
form {
  width: 90%;
  max-width: 500px;
  height: 50px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
  border-radius: 4px;
}
form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}
form ion-icon {
  width: 9%;
  font-size: 2.5rem;
  margin: -9px;
  color: rgb(32, 28, 28);
}
.search-result {
  margin-top: 50px;
  width: 100%;
  height: max-content;
  display: grid;
  grid-gap: 25px;
  grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
  /* opacity: 0;
  transition: .5s ease; */
}
/* .container:hover .search-result{
  opacity: 1;
} */
button {
  height: 49px;
  width: 90px;
  margin-left: 84%;
  float: left;
  margin-top: -47px;
  border: none;
  font-size: 18px;
  border-radius: 18px;
  color: #000;
  cursor: pointer;
  /* background-color: rgb(105, 105, 238); */
}
button:hover {
  color: #fff;
  cursor: pointer;
  background-color: rgb(105, 105, 238);
}
.itm {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
}
.itm img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.itm img:hover {
  background-color: #3e8e41;
  color: red;
  opacity: 0.3;
  transform: scale(1.1);
}
/* .itm img:hover{
} */
.itm .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itm .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  /* font-weight: 400; */
}
.view-btn {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404040;
  color: white;
  border-radius: 5pc;
  font-size: 1.4rem;
  margin-top: 20px;
  align-self: flex-start;
}
.view-btn:hover {
  background-color: rgb(158, 154, 154);
  color: #000;
}
.itm-data {
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 700;
  /* letter-spacing: 0.1rem; */
  line-height: 2rem;
  font-style: normal;
  border: 1px solid rgb(10, 10, 10);
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(80, 145, 128) 0%,
    rgb(149, 226, 213) 30%,
    rgb(102, 218, 202) 100%
  );
}
